<style>
  .wrapper {
    max-width: 960px; 
    padding: 20px;    /* Padding en Computador */
    margin: 0 auto;
  }
  section {
    width: 100%; 
    float: none;
    padding: 0;
    font-size: 1.0rem; /* <-- Tamaño de fuente en COMPUTADOR */
  }

  /* --- Reglas para MÓVIL --- */
  @media screen and (max-width: 768px) {
    .wrapper {
      padding: 5px;    /* Padding más chico en Móvil */
    }
    section {
      font-size: 1.0rem;  /* <-- Fuente normal en MÓVIL */
    }
  }

  /* --- ARREGLO PARA TABLAS EN MÓVIL --- */
  section table {
    display: block;
    width: 100%;
    overflow-x: auto;
  }

  /* --- NUEVO: ESTILOS PARA NAVEGACIÓN INFERIOR --- */
  /* Apunta al párrafo que viene justo después de la línea (---) */
  section hr + p {
    font-size: 0.9rem;  /* <-- Mismo tamaño que el enlace superior */
    margin-top: 2rem;   /* <-- Espacio para separarlo */
    text-align: center; /* (Opcional) Centra los tres enlaces */
  }
  
  /* Anula la negrita (**) que usaste en el Markdown */
  section hr + p a strong {
    font-weight: normal; /* <-- QUITA LA NEGRITA */
    color: inherit;      /* <-- Hereda el color del enlace (azul) */
  }
</style>
